#config.stopbubbling = true
#
## setter'ы вместо void'a возвращают this
#lombok.accessors.chain = true
## все поля во всех классах по default'y private'ные
#lombok.fieldDefaults.defaultPrivate = true
## все поля во всех классах по default'y final'ные
#lombok.fieldDefaults.defaultFinal = true
## @FieldNameConstants генерирует соответствующие полям константы в UPPER_CASE
#lombok.fieldNameConstants.upperCase = true
## перед всем, что генерирует Lombok, ставится аннотация @javax.annotation.GeneratedAnnotation
#lombok.addJavaxGeneratedAnnotation = true
## перед всем, что генерирует Lombok, ставится аннотация @SuppressFBWarnings
#lombok.extern.findbugs.addSuppressFBWarnings = true
#
## копировать эту аннотацию во все упоминания помеченного ей поля (параметр KOHCTРYKTOpa, builder-setter'a .. )
#lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonValue
#
#lombok.copyableAnnotations += org.springframework.context.annotation.Lazy
#lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
#lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier